komondor = ->
  if Komondor && Komondor.identity_id isnt -1
    $.ajax
      dataType: "jsonp"
      url: "#{Komondor.url}/apps/list.json"
      data: Komondor
      success: (data) ->
        makeSSOTapBar(data)

    makeSSOTapBar = (data) ->
      bar = $ '<div />',
        id: "sso_top_bar"
      bar.append list(data.apps)
      bar.append '<a class="signout" data-method="delete" href="/sessions" rel="nofollow">Sign Out</a>'
      bar.prependTo('body')
    list = (apps) ->
      list = $ '<ul />',
        id: "sso_app_list"
      list.append app for app in links(apps)
      list.prepend "<li class='sso_app'><a href='#{Komondor.url}'>#{Komondor.name}</a></li>"
      list
    links = (apps) ->
      for app in apps
        if window.location.href.indexOf(app.url) is -1
          classes = "sso_app"
        else
          classes = "sso_app active"
        $ "<li />",
          class: classes
          html: "<a href='http://#{app.url}'>#{app.name}</a>"

$(document).ready(komondor)
$(document).on("page:load", komondor)
